<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warmrecipes.app"
    android:versionCode="5"
    android:versionName="1.4">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarmRecipes">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity" android:exported="false" />
        <activity android:name=".EditActivity" android:exported="false" />
        <activity android:name=".ThemeActivity" android:exported="false" />
        <activity android:name=".PlanSelectActivity" android:exported="false" />
        <activity android:name=".PlanShoppingActivity" android:exported="false" />
        <activity android:name=".PlanCookingActivity" android:exported="false" />
    </application>
</manifest>
